In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder

In [4]:
rng = np.random.default_rng()

a_values = rng.integers(low=0,high=100,size=10)
b_values = rng.integers(low=100,high=500,size=10)

data = pd.DataFrame({'A':a_values, 'B':b_values})
data

    A    B
0  19  140
1  98  397
2  62  246
3  12  470
4  42  199
5  90  366
6  24  491
7  93  285
8  28  467
9   7  209

In [5]:
data.A.describe()

count    10.000000
mean     47.500000
std      35.453412
min       7.000000
25%      20.250000
50%      35.000000
75%      83.000000
max      98.000000
Name: A, dtype: float64

In [6]:
data.B.describe()

count     10.000000
mean     327.000000
std      127.788019
min      140.000000
25%      218.250000
50%      325.500000
75%      449.500000
max      491.000000
Name: B, dtype: float64

In [7]:
bins = [0,30,40,50,60,100]

A_categories = pd.cut(data.A,bins,right=False)
A_categories.dtype

A_categories = pd.cut(data.A, [0,30,40,50,60,100],right=False)
A_categories.dtype

CategoricalDtype(categories=[[0, 30), [30, 40), [40, 50), [50, 60), [60, 100)], ordered=True)

In [8]:
group_labels = ['demasiado poco', 'poco', 'normal', 'mucho', 'demasiado']
A_categories_labels = pd.cut(data.A,bins,labels=group_labels)
A_categories_labels.value_counts()

demasiado poco    5
demasiado         4
normal            1
poco              0
mucho             0
Name: A, dtype: int64

In [9]:
data

    A    B
0  19  140
1  98  397
2  62  246
3  12  470
4  42  199
5  90  366
6  24  491
7  93  285
8  28  467
9   7  209

In [12]:
categories = ['Subaru', 'Mazda', 'Mitsubishi', 'Honda','Toyota', 'Suzuki']
data['Category']=rng.choice(categories,size=10)
data['Size']=rng.choice(['pequeño','mediano','grande'],size=10)
data['Color']=rng.choice(['rojo','azul','verde'],size=10)
print(data)

    A    B    Category     Size  Color
0  19  140       Honda  mediano   rojo
1  98  397       Mazda   grande   rojo
2  62  246       Mazda  mediano   azul
3  12  470       Mazda  pequeño   rojo
4  42  199      Toyota  pequeño   azul
5  90  366      Toyota   grande   azul
6  24  491       Honda  mediano  verde
7  93  285      Suzuki  pequeño   rojo
8  28  467       Honda  mediano   rojo
9   7  209  Mitsubishi  mediano   rojo

In [14]:
label_encoder = LabelEncoder()
data['CAtegory_encoder'] =label_encoder.fit_transform(data['Category'])
print(data)

    A    B    Category     Size  Color  CAtegory_encoder
0  19  140       Honda  mediano   rojo                 0
1  98  397       Mazda   grande   rojo                 1
2  62  246       Mazda  mediano   azul                 1
3  12  470       Mazda  pequeño   rojo                 1
4  42  199      Toyota  pequeño   azul                 4
5  90  366      Toyota   grande   azul                 4
6  24  491       Honda  mediano  verde                 0
7  93  285      Suzuki  pequeño   rojo                 3
8  28  467       Honda  mediano   rojo                 0
9   7  209  Mitsubishi  mediano   rojo                 2

In [15]:
ordindal_encoder = OrdinalEncoder(categories=[['pequeño','mediano','grande']])
data['Size_encoded']=ordindal_encoder.fit_transform(data[['Size']])
print(data)

    A    B    Category     Size  Color  CAtegory_encoder  Size_encoded
0  19  140       Honda  mediano   rojo                 0           1.0
1  98  397       Mazda   grande   rojo                 1           2.0
2  62  246       Mazda  mediano   azul                 1           1.0
3  12  470       Mazda  pequeño   rojo                 1           0.0
4  42  199      Toyota  pequeño   azul                 4           0.0
5  90  366      Toyota   grande   azul                 4           2.0
6  24  491       Honda  mediano  verde                 0           1.0
7  93  285      Suzuki  pequeño   rojo                 3           0.0
8  28  467       Honda  mediano   rojo                 0           1.0
9   7  209  Mitsubishi  mediano   rojo                 2           1.0